@charset UTF-8;
/* ================================================ */
/*             0 ここからサイト全体設定                */
/* ================================================ */

body{
	padding: 0;
	font-size: 16px;
	height: 100%;
	color: #333; 
	background-color:#ffffff;
	width: 100%;
	animation: topfadeIn 3s ease 0s 1 normal;
    -webkit-animation: topfadeIn 3s ease 0s 1 normal;
	}
 
 .fadeIn {
  opacity : 0;
  transform: translateY(0px);
  transition: all 3s;
  }



@keyframes topfadeIn { /*上のbody内で呼び出しているアニメーションと名前をそろえる*/
    0% {opacity: 0} /* 始め */
    100% {opacity: 1} /* 終わり */
	}

/*古いブラウザ用*/
@-webkit-keyframes topfadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
	}




/* ================================================ */
/*nav*/
/* ================================================ */


nav{
	text-align: center;
	background-color:#dfe9e2;
	height:60px;
	margin-bottom: 200px;
	}

nav ul{
	padding-top: 20px;
}

nav ul li{
	display: inline-block;
	width: 14%;
	vertical-align:center
	}


nav ul li a{
	font-family: 'Megrim', cursive;
	font-size: 20px;
	text-decoration: none;
	list-style: none;
	color: #5a5c5b;
}


nav ul li a:hover{
	color: #c4c7c5;
	transition: color 300ms ease;
	}

.topbox {
    position: relative;
    width:100%;
    text-align: center;
    margin-top: 50px;
	}

.top-back{
	width:80%;
}

.top-front {
	display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 9%;
    left:15%;
    width:70%;

}


.border{
	position: relative;
	text-align: center;
	margin:300px auto 50px auto;
}

.border:before{
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 0;
	border-bottom: solid 10px #dfe9e2;
	transform: translateX(-50%);
	animation: border_anim 1.5s linear forwards;
}

@keyframes border_anim {
	0%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}

.about{
	text-align: center;
}

.about img{
	margin:100px auto 100px auto;
	width: 30%;
}

.myphoto{
	text-align: center;
}

.myphoto img{
	width: 30%;
}

.about__container{
	text-align: center;
	margin:100px auto 100px auto;
	font-size: 20px;
	line-height: 1.2;
	color: #5e5e5f;
}

.name{
	font-size: 30px;
}



.works{
	text-align: center;
}

.works img{
	margin:100px auto 100px auto;
	width: 30%;
	text-align: center;
}


.fey_1 {
	text-align: center;
}

.fey_1 a{
	text-align: center;
	font-size: 25px;
	text-decoration: none;
	list-style: none;
	color: #5a5c5b;
}


.fey_1 a:hover{
	color: #c4c7c5;
	transition: color 300ms ease;
	}

.works_1 img{
	text-align: center;
	display: flex;
	width: 50%;
	margin:30px auto 50px auto;
}

.contact{
	text-align: center;
}

.contact img{
	margin:100px auto 100px auto;
	width: 30%;
}

.mail{
	text-align: center;
	font-size: 30px;
	color: #5e5e5f;
	margin-bottom: 500px

}




/* ================================================ */
/*footer*/
/* ================================================ */

footer{
	margin:200px auto 200px auto;
	text-align: center;

}


/*=============================================== 
●style.css 画面の横幅が769px以上
 ===============================================*/
  /*PCは全セクションそのままです*/

/*=============================================== 
●tablet.css 画面の横幅が768pxまで 
===============================================*/
@media (max-width: 1020px) and (min-width: 768px) {

}


/*=============================================== 
●smart.css 画面の横幅が300-767pxまで 
===============================================*/
@media (max-width: 767px) and (min-width: 300px){

}
